body{

    background: linear-gradient(to right, rgba(gray, 0.2), rgba(gray, 0.1)), url("../../assets/img/9.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}